{#<a class="btn btn-sm" href="{{ admin.generateObjectUrl('devolver', object) }}">Devolver</a>#}

<a href="{{ admin.generateObjectUrl('devolver', object) }}" class="btn btn-sm btn-default view_link" title="Devolver">
        <i class="glyphicon glyphicon-ok"></i>
        Devolver
    </a>